name: Build Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build-job:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # আসল কাজ: রোবট এখন ইমেজ বিল্ড করবে
      - name: Build Docker Image
        run: docker build -t my-test-image .
        
      - name: Verify Build
        run: docker images